<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<body>
<div layout:fragment="content">
    <div class="container">
        <hr>
        <a href="/contents/upload">Add content</a>
        <div class="row">
            <hr><br><br>
            <div class="col-md-3" th:each="content : ${contentList}">
                <div class="card" style="width: 18rem;">
                    <div style="display: none" id="contentId" th:id="${content.id}">
                    </div>
                    <img th:src="${content.thumbnailImageUrl}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${content.title}"></h5>
                        <p class="card-text" th:text="${content.description}"></p>
                        <button type="button" class="btn btn-primary" th:attr="onclick=|submitIdx('${content.id}')|">Go somewhere</button>
<!--                        <a href="#" class="btn btn-primary" onclick="submitIdx()">Go somewhere</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function submitIdx(idx){
            window.location.href="/contents/modify?id=" +idx;
            // document.write(
            //     '<form th:action="@{/contents/modify}" id="idx" method="get">'
            //     +'<input type = "hidden" id="idx" name="id" value= '+ idx +' >'
            //     +'</form>'
            // );
            // document.getElementById("idx").submit();
        }

    </script>
</div>

</body>

</html>